.taskContainer {
  list-style-type: none;
  display: flex;
  align-items: start;
  padding: 0.5rem;
  padding-left: 1rem;
  column-gap: 1rem;
  border-radius: 0.5rem;

  overflow-wrap: break-word;
  word-break: break-word;
}

.taskContainer:hover .taskEditIconButton,
.taskContainer:focus-visible .taskEditIconButton,
.taskContainer:has(*:focus-visible) .taskEditIconButton,
.taskContainer.active .taskEditIconButton,
.taskContainer:active .taskEditIconButton {
  opacity: 1;
  visibility: visible;
}

.taskContainer:hover,
.taskContainer:focus-visible,
.taskContainer:active,
.taskContainer.active {
  box-shadow: var(--shadow-light-sm-default);
  background-color: var(--color-neutral-100);
}

.taskContainer:active,
.taskContainer.active {
  opacity: 0.8;
}

.taskContainer:focus-visible {
  outline: 0.125rem solid var(--color-neutral-900);
  outline-width: 0.125rem;
}

.taskCheckbox {
  display: inline-flex;
}

.taskCheckbox,
.taskTitle {
  margin-block: 0.5rem;
}

.taskEditIconButton {
  opacity: 0;
  visibility: hidden;
  margin-left: auto;
  transition: var(--transition-opacity), var(--transition-visibility);
}
