.inputLabel {
  display: grid;
  row-gap: 0.75rem;
  font: var(--font-bodyLgBold);
  color: var(--color-neutral-800);
  position: relative;
}

.labelText.isRequired::after {
  margin-left: 0.25rem;
  content: "*";
  font: var(--font-bodyLgReg);
  color: var(--color-primary-400);
}

.input {
  --pd15px: calc(1rem - 1px);

  display: block;
  width: 100%;
  font: var(--font-bodyLgReg);
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-800);
  padding: calc(1rem - 1px);
  border: 1px solid var(--color-neutral-400);
  border-radius: 0.5rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input.hasClearIcon {
  padding-right: calc(3rem - 1px);
}

.input::placeholder {
  color: var(--color-neutral-600);
}

.input:not(:disabled):hover {
  border-color: var(--color-neutral-600);
  color: var(--color-neutral-800);
}

.input:not(:disabled):focus-visible {
  border-color: transparent;
  outline: 0.125rem solid var(--color-neutral-800);
  outline-offset: calc(0.125rem - 1px);
}

.clearIcon {
  position: absolute;
  cursor: pointer;
  right: 0.75rem;
  bottom: 1rem;
  display: none;
  color: var(--color-neutral-500);

  border-radius: 0.5rem;
}

.clearIcon:hover,
.clearIcon:focus-visible {
  color: var(--color-neutral-800);
}
.clearIcon:focus-visible {
  outline: 0.125rem solid var(--color-neutral-900);
}

.inputLabel:has(> .input:not(:placeholder-shown)) .clearIcon {
  display: inline-flex;
}
