.button {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  position: relative;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-neutral-0);
  font: var(--font-bodyMdSemi);
}

.contentLeft {
  display: inline-flex;
  margin-left: -0.25rem;
}

.contentRight {
  display: inline-flex;
  margin-right: -0.25rem;
}

.large {
  padding: 0.75rem 1rem;
  font: var(--font-bodyLgSemi);
}
.small {
  padding: 0.5rem;
}

.small .contentLeft {
  margin-left: 0;
}

.small .contentRight {
  margin-right: 0;
}

.fullWidth {
  width: 100%;
}

.base {
  background-color: var(--color-base-primary-400);
  box-shadow: var(--shadow-base-default);
  color: var(--color-base-neutral-white);
}

.base:not(:disabled):hover {
  background-color: var(--color-base-primary-500);
  box-shadow: var(--shadow-dark-base-hover);
}

.base:not(:disabled):focus-visible {
  background-color: var(--color-base-primary-500);
  box-shadow: var(--shadow-dark-base-hover);
  outline: 0.125rem solid var(--color-base-neutral-white);
  outline-offset: 0.125rem;
}

.base:not(:disabled):active {
  background-color: var(--color-base-primary-300);
}

.base.loading .loadingIcon {
  background-color: var(--color-base-primary-300);
}

.base:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.primary {
  background-color: var(--color-neutral-800);
  box-shadow: var(--shadow-base-default);
}

.primary:not(:disabled):hover,
.primary:not(:disabled):focus-visible {
  background-color: var(--color-neutral-700);
  box-shadow: var(--shadow-base-hover);
}

.primary:not(:disabled):focus-visible {
  outline: 0.125rem solid var(--color-neutral-900);
  outline-offset: 0.125rem;
}

.primary:not(:disabled):active {
  background-color: var(--color-neutral-600);
  box-shadow: none;
}

.primary.loading .loadingIcon {
  background-color: var(--color-neutral-600);
}

.primary:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.secondary {
  background-color: var(--color-neutral-200);
  box-shadow: var(--shadow-sm-default);
  color: var(--color-neutral-800);
}

.secondary:not(:disabled):hover,
.secondary:not(:disabled):focus-visible {
  background-color: var(--color-neutral-300);
  box-shadow: var(--shadow-sm-hover);
}

.secondary:not(:disabled):focus-visible {
  outline: 0.125rem solid var(--color-neutral-900);
  outline-offset: 0.125rem;
}

.secondary:not(:disabled):active {
  background-color: var(--color-neutral-100);
  box-shadow: none;
}

.secondary.loading .loadingIcon {
  background-color: var(--color-neutral-100);
}

.secondary:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.gray {
  background-color: transparent;
  color: var(--color-neutral-600);
}

.gray:not(:disabled):hover,
.gray:not(:disabled):focus-visible {
  background-color: var(--color-neutral-300);
  box-shadow: var(--shadow-sm-hover);
}

.gray:not(:disabled):active,
.gray:not(:disabled).active {
  background-color: var(--color-neutral-200);
  box-shadow: var(--shadow-sm-default);
}

.purple {
  background-color: transparent;
  color: var(--color-secondary-400);
}

.purple:not(:disabled):hover,
.purple:not(:disabled):focus-visible {
  background-color: var(--color-secondary-100);
  box-shadow: var(--shadow-sm-hover);
}

.purple:not(:disabled):active,
.purple:not(:disabled).active {
  background-color: var(--color-secondary-0);
  box-shadow: var(--shadow-sm-default);
}

.pink {
  background-color: transparent;
  color: var(--color-primary-400);
}

.pink:not(:disabled):hover,
.pink:not(:disabled):focus-visible {
  background-color: var(--color-primary-100);
  box-shadow: var(--shadow-sm-hover);
}

.pink:not(:disabled):active,
.pink:not(:disabled).active {
  background-color: var(--color-primary-0);
  box-shadow: var(--shadow-sm-default);
}

.gray:not(:disabled):focus-visible,
.purple:not(:disabled):focus-visible,
.pink:not(:disabled):focus-visible {
  outline: 0.125rem solid var(--color-neutral-900);
  outline-offset: 0.125rem;
}

.loadingIcon {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIcon svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
