@import url("./normalize.css");
@import url("./variables.css");

@font-face {
  font-family: "Source Sans3";
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans3";
  src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans3";
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: 0%;
}

* {
  transition-property: border-color, color, fill, stroke, box-shadow,
    background-color;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: ease;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
