.taskEditorContainer {
  height: calc(100vh - 4rem);
  width: calc(25rem - 1px);
  display: grid;
  grid-template-rows: 1fr auto;
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 1;
  transform: translateX(100%);

  transition-property: transform, opacity, visibility;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden;
}

.opened {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.createTaskBlock {
  padding: 1.5rem 1.5rem 0 calc(1.5rem - 1px);
  background-color: var(--color-neutral-100);
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto;
}
.createTaskBlockTop {
  transition-duration: var(--transition-duration-default);
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 1rem;
}

.createTaskBlockTitle {
  font: var(--font-h1);
  color: var(--color-neutral-800);
}

.createTaskBlockInput {
  margin-top: 1.5rem;
}

.priorityLabel {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  font: var(--font-bodyLgBold);
  color: var(--color-neutral-800);
}

.priorityBtnsContainer {
  display: flex;
  column-gap: 0.5rem;
}

.controlSection {
  background-color: var(--color-neutral-100);
  padding: calc(1rem - 1px) 1.5rem 1rem calc(1.5rem - 1px);
  border-top: 1px solid var(--color-neutral-300);
  display: flex;
  column-gap: 1rem;
}

.controlSectionDeleteButton {
  margin-left: auto;
}

.content {
  padding-top: 0.5rem;
}
