.taskListEmptyView {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-neutral-800);
  padding-block: 1.5rem;
}

.title {
  margin-bottom: 1rem;
  font: var(--font-h2);
}

.subtitle {
  margin-bottom: 2.5rem;
  font: var(--font-bodyLgReg);
}
